.ka-fileview {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	#icon {
		margin: 3.5rem 0;
	}

	#download {
		margin: 1rem 0;

		.download-btn {
			margin: 0 5px;
			span {
				margin-left: 5px;
			}
		}
	}
}