@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--background: #242424;
	--foreground: rgba(255, 255, 255, 0.87);
	--sidebar-color: #2a2a2a;
	--description-color: #818181;

	--stroke: #3c3c3c;
	--nav-color: #191919;
	--nav-hover: #101010;
	--profile-color: #3a3a3a;

	--hover: rgba(255, 255, 255, 0.7);
	--focus: rgba(255, 255, 255, 0.55);
	
	--form-color: #151515;

	--btn-primary: #0069d9;
	--btn-secondary: #859099;
	--btn-success: #28a745;
	--btn-danger: #dc3545;

	--btn-primary-hover: #0254ac;
	--btn-secondary-hover: #596066;
	--btn-success-hover: #208a39;
	--btn-danger-hover: #b32735;

	--btn-primary-focus: #034fa0;
	--btn-secondary-focus: #50565c;
	--btn-success-focus: #1d7c33;
	--btn-danger-focus: #a72532;

	--font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	--font-mono: "JetBrains Mono", monospace;
}

html, body {
	margin: 0;
	width: 100vw;
	height: 100vh;

	font-size: 11pt;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--foreground);
	background-color: var(--background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: var(--font-family);
}

h1 {
	font-size: 24pt;
}

h2 {
	font-size: 20pt;
}

h3 {
	font-size: 18pt;
}

h4 {
	font-size: 16pt;
}

h5 {
	font-size: 15pt;
}

h6 {
	font-size: 12pt;
}

a {
	cursor: pointer;
	user-select: none;
	text-decoration: none;
	transition-duration: 0.3s;
	color: var(--foreground);

	&:hover {
		color: var(--hover);
	}

	&:focus {
		color: var(--focus);
	}
}

.link {
	cursor: pointer;
	user-select: none;
	text-decoration: none;
	transition-duration: 0.3s;
	color: var(--foreground);

	&:hover {
		color: var(--hover);
	}

	&:focus {
		color: var(--focus);
	}
}

input {
	background-color: var(--background);
}

button {
	cursor: pointer;
	align-items: center;
	justify-content: center;
	transition-duration: 0.3s;
	background-color: var(--background);

	&.primary {
		background-color: var(--btn-primary);

		&:hover {
			background-color: var(--btn-primary-hover);
		}

		&:focus {
			background-color: var(--btn-primary-focus);
		}
	}

	&.secondary {
		background-color: var(--btn-secondary);

		&:hover {
			background-color: var(--btn-secondary-hover);
		}

		&:focus {
			background-color: var(--btn-secondary-focus);
		}
	}

	&.success {
		background-color: var(--btn-success);

		&:hover {
			background-color: var(--btn-success-hover);
		}

		&:focus {
			background-color: var(--btn-success-focus);
		}
	}

	&.danger {
		background-color: var(--btn-danger);

		&:hover {
			background-color: var(--btn-danger-hover);
		}

		&:focus {
			background-color: var(--btn-danger-focus);
		}
	}
}

input, button {
	height: 40px;
	border: none;
	outline: none;
	font-size: 12pt;
	border-radius: 25px;
	padding: 0.25rem 15px;
}

code, pre {
	font-family: var(--font-mono);
}
